body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Cor de fundo azul claro */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4682b4; /* Cor de fundo azul aço */
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 10px;
}
